
@{
    ViewData["Title"] = "Validation";
}

<h1>Validation</h1>
@if(@Model != null) { 
    @Model.debut
    <br />
    @Model.fin
    <br />
    @Model.typeVehc
    <br />
    @Model.numVehc
    <br />
    @Model.etatRes
    <br />
}