@model Autolib.Models.ViewModel.ClientsModel

@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Détails";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5>Informations du compte</h5>
                    <div>
                    <dl class="row">
                        <dt class="col-12">
                            Identifiant
                        </dt>
                        <dd class="col-12">
                            @Html.DisplayFor(model => model.clientActuel.Login)
                        </dd>
                        <dt class="col-12">
                            Nom
                        </dt>
                        <dd class="col-12">
                            @Html.DisplayFor(model => model.clientActuel.Nom)
                        </dd>
                        <dt class="col-12">
                            Prénom
                        </dt>
                        <dd class="col-12">
                            @Html.DisplayFor(model => model.clientActuel.Prenom)
                        </dd>
                        <dt class="col-12">
                            Date de Naissance
                        </dt>
                        <dd class="col-12">
                            @(((DateTime) Model.clientActuel.DateNaissance).ToString("dd MM yyyy"))
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-warning btn-block" asp-action="Edit" asp-route-id="@Model.clientActuel.IdClient">Editer les données</a>
                    <a class="btn btn-validate btn-block" href="@Url.Action("Index","Home")">Retour au menu</a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card" style="max-height:500px">
                <div class="card-header">Historique de commandes</div>
                <div class="card-body">
                    <ul>
                        @if(Model.resaClient != null)
            {
                            @foreach(var r in Model.resaClient)
                {
                        <li>
                            <table class="col-12">
                                <tr>
                                    <th>
                                        Voiture n°
                                    </th>
                                    <th>
                                        Début
                                    </th>
                                    <th>
                                        Retour
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                         @r.Vehicule
                                    </td>
                                    <td>
                                        @r.DateReservation
                                    </td>
                                    <td>
                                        @r.DateEcheance
                                    </td>
                                    <td>
                                        <a href="@Url.Action("RemoveResa","Clients", new { clientId = r.Client, debut = r.DateReservation, fin=r.DateEcheance})" class="btn btn-danger btn-block">Annuler la réservation</a>
                                    </td>
                                </tr>
                            </table>

                        </li>
                }
            }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


