@model IEnumerable<Autolib.Models.Domain.Borne>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EtatBorne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVehiculeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EtatBorne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVehiculeNavigation.Disponibilite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationNavigation.IdStation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBorne">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBorne">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBorne">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
